includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 70200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src

	ignoreErrors:
		- '#Unsafe usage of new static\(\).#'
		- '#Strict comparison using === between non-empty-array<int, string> and false will always evaluate to false#'
